body {
  max-width: none;
  min-width: auto;
}

.right {
  display: none;
}

#container .left .title__heading {
  font-size: 2rem;
}
#container .left .title__text {
  font-size: 1rem;
}
#container .left .title span {
  display: none;
}