#ONE {
  background-image: url(../img/backgrounds/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(47, 24, 147);
}
#ONE .navbar__link {
  color: #FFFFFF;
  font-size: 24px;
}
#ONE .info__text {
  color: #FFFFFF;
}
#ONE .info__text:nth-child(1) {
  font-size: 72px;
  font-weight: bold;
}
#ONE .info__text:nth-child(2) {
  font-size: 24px;
}
#ONE .btn {
  background-color: #482BE7;
  color: #FFFFFF;
  font-size: 24px;
  padding: 20px 40px;
  border-radius: 40px;
  border: none;
  outline: none;
}

#TWO {
  background-image: url(../img/backgrounds/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(47, 24, 147);
}
#TWO .info__text {
  color: #FFFFFF;
}
#TWO .info__text:nth-child(1) {
  font-size: 20px;
}
#TWO .info__text:nth-child(2) {
  font-size: 58px;
  font-weight: bold;
}
#TWO .info__text:nth-child(3) {
  color: #AAAAAA;
  font-size: 24px;
}

#THREE {
  background-image: url(../img/backgrounds/bg3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(47, 24, 147);
}
#THREE .title__text {
  color: #FFFFFF;
}
#THREE .title__text:nth-child(1) {
  font-size: 42px;
  font-weight: bold;
}
#THREE .title__text:nth-child(2) {
  font-size: 22px;
}
#THREE .info__text {
  color: #FFFFFF;
}

#FOUR {
  background-image: url(../img/backgrounds/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(47, 24, 147);
}
#FOUR .title__text {
  color: #FFFFFF;
}
#FOUR .title__text:nth-child(1) {
  font-size: 50px;
  font-weight: bold;
}
#FOUR .title__text:nth-child(2) {
  font-size: 20px;
  line-height: 35px;
}
#FOUR .form {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 150px;
}