section {
  width: 100vw;
  height: 100vh;
}

section {
  scroll-snap-align: start;
}

html {
  scroll-snap-type: y mandatory;
}

#ONE {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#ONE .navbar {
  display: flex;
  gap: 50px;
}
#ONE .info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  width: 45%;
}
#ONE .btn {
  padding: 20px 40px;
}

#TWO {
  display: flex;
  justify-content: center;
  align-items: center;
}
#TWO .info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 55%;
  text-align: center;
}

#THREE {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#THREE .imgmac {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#THREE .title {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 35%;
  margin-left: 10%;
  margin-bottom: 5%;
}
#THREE .wrap {
  display: flex;
  gap: 50px;
  width: 35%;
  margin-left: 10%;
}
#THREE .wrap .info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

#FOUR {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#FOUR .title {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#FOUR .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 150px 75px 150px 75px;
  position: relative;
}
#FOUR .form .choice {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
}
#FOUR .form .choice__text {
  width: 50%;
  padding: 25px;
  text-align: center;
}
#FOUR .form .input {
  width: 350px;
  padding: 15px 20px;
}
#FOUR .form .btn {
  width: 350px;
  padding: 15px 20px;
  text-align: center;
}