section {
  width: 100vw;
  height: 100vh;
}

section {
  scroll-snap-align: start;
}

html {
  scroll-snap-type: y mandatory;
}

#ONE {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#ONE .navbar {
  display: flex;
  gap: 50px;
}
#ONE .info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  width: 50%;
}
#ONE .btn {
  padding: 20px 40px;
}

#TWO {
  display: flex;
  justify-content: center;
  align-items: center;
}
#TWO .info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 55%;
  text-align: center;
}

#THREE {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#THREE .imgmac {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#THREE .title {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 40%;
  margin-left: 10%;
  margin-bottom: 5%;
}
#THREE .wrap {
  display: flex;
  gap: 50px;
  width: 40%;
  margin-left: 10%;
}
#THREE .wrap .info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

#FOUR {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#FOUR .title {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#FOUR .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 150px 75px 150px 75px;
  position: relative;
}
#FOUR .form .choice {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
}
#FOUR .form .choice__text {
  width: 50%;
  padding: 25px;
  text-align: center;
}
#FOUR .form .input {
  width: 350px;
  padding: 15px 20px;
}
#FOUR .form .btn {
  width: 350px;
  padding: 15px 20px;
  text-align: center;
}

#FIVE {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding: 0px 13vw;
}
#FIVE .wrap {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
#FIVE .wrap .card {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  padding: 30px;
  height: 225px;
}
#FIVE .wrap .card__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#SIX {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#SIX .header {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}
#SIX .wrap {
  display: flex;
  gap: 25px;
}
#SIX .wrap .btn:nth-child(1) {
  padding: 30px;
  position: relative;
}
#SIX .wrap .btn:nth-child(1) img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}
#SIX .wrap .btn:nth-child(2) {
  width: 200px;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#SEVEN {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#SEVEN .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 520px;
}
#SEVEN .header .btn {
  padding: 10px 20px;
}
#SEVEN .wrap {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}
#SEVEN .wrap .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
#SEVEN .wrap .card > *:nth-child(1) {
  width: 420px;
  height: 230px;
}

#EIGHT {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding-left: 150px;
}
#EIGHT .header {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#EIGHT .wrap {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
}
#EIGHT .wrap .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
#EIGHT .wrap .card__wrap {
  display: flex;
  gap: 20px;
}

#NINE {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#NINE .wrap {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#NINE .wrap .header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#NINE .wrap .contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
#NINE .wrap .contacts__text {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
#NINE .wrap .contacts__text:nth-child(3) {
  width: 55%;
}
#NINE .form {
  display: grid;
  justify-items: flex-start;
  align-items: flex-start;
  row-gap: 30px;
  -moz-column-gap: 50px;
       column-gap: 50px;
  padding: 40px;
}
#NINE .form .input {
  padding: 10px 15px;
}
#NINE .form__item:nth-child(1) {
  grid-row-start: 1;
  grid-column-start: 1;
  align-self: center;
}
#NINE .form__item:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 2;
  justify-self: flex-end;
  align-self: center;
}
#NINE .form__item:nth-child(3) {
  grid-row-start: 2;
  grid-column-start: span 2;
  width: 100%;
}
#NINE .form__item:nth-child(4) {
  grid-row-start: 3;
  grid-column-start: span 2;
  width: 100%;
  height: 150px;
}
#NINE .form__item:nth-child(5) {
  grid-row-start: 4;
  grid-column-start: 1;
  justify-self: flex-start;
  align-self: center;
  width: 20px;
  height: 20px;
}
#NINE .form__item:nth-child(6) {
  grid-row-start: 4;
  grid-column-start: 2;
  justify-self: flex-end;
  align-self: center;
  padding: 10px 30px;
}