section {
  width: 100vw;
  height: 100vh;
}

section {
  scroll-snap-align: start;
}

html {
  scroll-snap-type: y mandatory;
}

#ONE {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#ONE .navbar {
  display: flex;
  gap: 50px;
}
#ONE .info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  width: 50%;
}
#ONE .btn {
  padding: 20px 40px;
}

#TWO {
  display: flex;
  justify-content: center;
  align-items: center;
}
#TWO .info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 55%;
  text-align: center;
}

#THREE {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#THREE .imgmac {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#THREE .title {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 40%;
  margin-left: 10%;
  margin-bottom: 5%;
}
#THREE .wrap {
  display: flex;
  gap: 50px;
  width: 40%;
  margin-left: 10%;
}
#THREE .wrap .info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

#FOUR {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#FOUR .title {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#FOUR .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 150px 75px 150px 75px;
  position: relative;
}
#FOUR .form .choice {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
}
#FOUR .form .choice__text {
  width: 50%;
  padding: 25px;
  text-align: center;
}
#FOUR .form .input {
  width: 350px;
  padding: 15px 20px;
}
#FOUR .form .btn {
  width: 350px;
  padding: 15px 20px;
  text-align: center;
}

#FIVE {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding: 0px 175px;
}
#FIVE .wrap {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
#FIVE .wrap .card {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  padding: 30px;
  height: 225px;
}
#FIVE .wrap .card__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#SIX {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#SIX .header {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}
#SIX .wrap {
  display: flex;
  gap: 25px;
}
#SIX .wrap .btn:nth-child(1) {
  padding: 30px;
  position: relative;
}
#SIX .wrap .btn:nth-child(1) img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}
#SIX .wrap .btn:nth-child(2) {
  width: 200px;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}