body {
  background: var(--black);
}
body * {
  color: var(--white);
}

.header {
  background: var(--black);
  z-index: 999;
}
.header__name, .header__link {
  border-bottom: 1px solid transparent;
  color: var(--grey);
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}
.header__name:hover, .header__link:hover {
  border-bottom: 1px solid var(--yellow);
  color: var(--yellow);
}
.header__name {
  border: none !important;
  font-size: 2.25rem;
  font-weight: 500;
  font-family: "Bebas Neue";
}
.header__link {
  font-size: 1.25rem;
  font-weight: 300;
}

.home {
  border-bottom: 1px solid #484848;
}
.home .info__title {
  font-size: 4rem;
  font-weight: 500;
  font-family: "Bebas Neue";
}
.home .info__text {
  font-size: 1rem;
  font-weight: 300;
  color: var(--grey);
}
.home .img {
  opacity: 0.5;
  border-radius: 5px;
}

.work {
  border-bottom: 1px solid #484848;
}
.work .heading__title {
  font-size: 4rem;
  font-weight: 500;
  font-family: "Bebas Neue";
}
.work .heading__text {
  font-size: 1rem;
  font-weight: 300;
  color: var(--grey);
}
.work .projects .option__img {
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
  opacity: 0.5;
}
.work .projects .option__img:hover {
  opacity: 1;
}
.work .projects .option__title {
  font-size: 2rem;
  font-weight: 400;
}
.work .projects .option__text {
  border-bottom: 1px solid #484848;
  font-weight: 300;
}
.work .projects .option__text span {
  color: var(--grey);
}
.work .projects .option__link {
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  color: var(--yellow);
  border-bottom: 2px solid var(--yellow);
}

.about {
  border-bottom: 1px solid #484848;
}
.about .heading__title {
  font-size: 4rem;
  font-weight: 500;
  font-family: "Bebas Neue";
}
.about .info__title {
  font-size: 2rem;
  font-weight: 400;
}
.about .info__text {
  font-weight: 300;
  color: var(--grey);
}

.contact .heading__title {
  font-size: 4rem;
  font-weight: 500;
  font-family: "Bebas Neue";
}
.contact .heading__text {
  color: var(--grey);
}
.contact .heading__link {
  color: var(--white);
  border-bottom: 1px solid var(--yellow);
  text-decoration: none;
  cursor: pointer;
}
.contact .form__label {
  color: var(--grey);
  cursor: pointer;
}
.contact .form__input, .contact .form__textarea {
  outline: none;
  border: none;
  resize: none;
  background: #1A1A1A;
  border-radius: 5px;
  transition: 0.5s;
}
.contact .form__input:focus, .contact .form__textarea:focus {
  box-shadow: 0 0 10px var(--white);
}