.ONE {
    background-image: url(../img/backgrounds/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(47, 24, 147, 100%);

    .navbar {
        &__link { color: #FFFFFF; font-size: 24px; }
    }

    .info {
        &__text { color: #FFFFFF; }

        &__text:nth-child(1) { font-size: 72px; font-weight: bold; }

        &__text:nth-child(2) { font-size: 24px; }
    }

    .btn {
        background-color: #482BE7;
        color: #FFFFFF;
        font-size: 24px;
        padding: 20px 40px;
        border-radius: 40px;
        border: none;
        outline: none;
    }
}

.TWO {
    background-image: url(../img/backgrounds/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(47, 24, 147, 100%);

    .info {
        &__text { color: #FFFFFF; }

        &__text:nth-child(1) { font-size: 20px; }

        &__text:nth-child(2) { font-size: 58px; font-weight: bold; }

        &__text:nth-child(3) { color: #AAAAAA; font-size: 24px; }
    }
}

.THREE {
    background-image: url(../img/backgrounds/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(47, 24, 147, 100%);

    .title {
        &__text { color: #FFFFFF; }

        &__text:nth-child(1) { font-size: 42px; font-weight: bold; }

        &__text:nth-child(2) { font-size: 22px; }
    }

    .info { &__text { color: #FFFFFF; }}
}

