body {
    margin: 0 auto;
    padding: 0 50px;
    width: 1400px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    position: fixed;
    width: 1300px;

    &__nav {
        display: flex;
        gap: 40px;
    }
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px 0 100px;

    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;

        &__wrap {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        &__icon {
            width: 45px;
            height: 45px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .img {
        width: 520px;
        height: 520px;
    }
}

.work {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 150px;
    padding: 100px 0;

    .heading {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .projects {
        display: flex;
        flex-direction: column;
        gap: 300px;

        .option {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;

            &__img {
                width: 685px;
                height: 415px;
            }

            &__wrap {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 50px;
            }

            &__info {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 100%;
            }

            &__text {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 15px;
            }

            &__links {
                display: flex;
                gap: 25px;
            }

            &__link {
                display: flex;
                align-items: center;
                gap: 10px;
                padding-bottom: 5px;
            }

            &__arrow {
                width: 15px;
                height: 15px;
            }

            &__icon {
                width: 25px;
                height: 25px;
            }
        }
    }
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 0;

    .info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__skills {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-top: 100px;
        }

        &__row {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 0;

    .heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        &__link {
            padding-bottom: 3px;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        padding-right: 10%;

        &__row {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }

        &__input {
            width: 500px;
            padding: 15px;
        }

        &__textarea {
            width: 500px;
            height: 200px;
            padding: 15px;
        }
    }
}
