section { width: 100vw; height: 100vh; }
section { scroll-snap-align: start; }
html { scroll-snap-type: y mandatory; }

#ONE {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    .navbar {
        display: flex;
        gap: 50px;
    }

    .info {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 30px;
        width: 60%;
    }

    .btn {
        padding: 15px 40px;
    }
}

#TWO {
    display: flex;
    justify-content: center;
    align-items: center;

    .info {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 50px;
        width: 70%;
    }
}

#THREE {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;

    .imgmac {
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
    }

    .title {
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 40%;
    }

    .wrap {
        display: flex;
        gap: 50px;
        width: 40%;

        .info {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 20px;
        }
    }
}

#FOUR {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .title {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 30%;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 150px 75px;
        position: relative;

        .choice {
            position: absolute;
            top: 0;
            display: flex;
            width: 100%;

            &__text { 
                width: 50%;
                padding: 25px;
                text-align: center;
            }
        }

        .input {
            width: 350px;
            padding: 15px 20px;
        }

        .btn {
            width: 350px;
            padding: 15px 20px;
            text-align: center;
        }
    }
}

#FIVE {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 0px 15%;

    .wrap {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;

        .card {
            display: flex;
            align-items: flex-start;
            gap: 30px;
            padding: 20px;
            height: 250px;

            &__wrap {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
            }
        }
    }
}

#SIX {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .header {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 50px;

        &__text {
            display: flex;
            flex-direction: column;
        }
    }

    .wrap {
        display: flex;
        align-items: center;
        gap: 25px;

        .btn:nth-child(1) {
            padding: 30px;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-40%, -50%);
            }
        }

        .btn:nth-child(2) {
            padding: 20px 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

#SEVEN {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 500px;

        .btn {
            padding: 10px 20px;
        }
    }

    .wrap {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            &__img {
                width: 420px;
                height: 230px;
            }
        }
    }
}

#EIGHT {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding-left: 150px;

    .header {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .wrap {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 60px;

        .card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            &__wrap {
                display: flex;
                gap: 20px;
            }
        }
    }
}

#NINE {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .wrap {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 50px;

        .header {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .contacts {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;

            &__text {
                display: flex;
                align-items: flex-start;
                gap: 10px;
            }

            &__text:nth-child(3) {
                width: 60%;
            }
        }
    }

    .form {
        display: grid;
        justify-items: flex-start;
        align-items: flex-start;
        row-gap: 30px;
        column-gap: 50px;
        padding: 40px;

        &__wrap:nth-child(1) {
            grid-row-start: 1;
            grid-column-start: 1;
            align-self: center;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        &__wrap:nth-child(2) {
            grid-row-start: 1;
            grid-column-start: 2;
            justify-self: flex-end;
            align-self: center;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        &__wrap:nth-child(3) {
            grid-row-start: 2;
            grid-column-start: span 2;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        &__wrap:nth-child(4) {
            grid-row-start: 3;
            grid-column-start: span 2;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        &__wrap:nth-child(5) {
            grid-row-start: 4;
            grid-column-start: span 2;
            justify-self: flex-start;
            align-self: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .wrapcheck {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}

#TEN {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        width: 30%;
    }

    .wrap {
        display: flex;
        gap: 100px;

        .card {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 50px 75px;

            &__text:nth-child(2) {
                display: flex;
                gap: 5px;
            }

            &__list {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }

            .btn {
                margin: 0 auto;
                padding: 10px 40px;
            }
        }
    }
}
