body {
    background: var(--black);
    * { color: var(--white); }
}

.header {
    background: var(--black);
    z-index: 999;

    &__name, &__link {
        border-bottom: 1px solid transparent;
        color: var(--grey);
        text-decoration: none;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            border-bottom: 1px solid var(--yellow);
            color: var(--yellow);
        }
    }

    &__name {
        border: none !important;
        font-size: 2.25rem;
        font-weight: 500;
        font-family: "Bebas Neue";
    }

    &__link {
        font-size: 1.25rem;
        font-weight: 300;
    }
}

.home {
    border-bottom: 1px solid #484848;

    .info {
        &__title {
            font-size: 4rem;
            font-weight: 500;
            font-family: "Bebas Neue";
        }

        &__text {
            font-size: 1rem;
            font-weight: 300;
            color: var(--grey);
        }
    }

    .img {
        opacity: 0.5;
        border-radius: 5px;
    }
}

.work {
    border-bottom: 1px solid #484848;

    .heading {
        &__title {
            font-size: 4rem;
            font-weight: 500;
            font-family: "Bebas Neue";
        }

        &__text {
            font-size: 1rem;
            font-weight: 300;
            color: var(--grey);
        }
    }

    .projects {
        .option {
            &__img {
                cursor: pointer;
                border-radius: 5px;
                transition: 0.5s;
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                }
            }

            &__title {
                font-size: 2rem;
                font-weight: 400;
            }

            &__text {
                border-bottom: 1px solid #484848;
                font-weight: 300;

                span {
                    color: var(--grey);
                }
            }

            &__link {
                cursor: pointer;
                text-decoration: none;
                font-weight: 500;
                color: var(--yellow);
                border-bottom: 2px solid var(--yellow);
            }
        }
    }
}

.about {
    border-bottom: 1px solid #484848;

    .heading {
        &__title {
            font-size: 4rem;
            font-weight: 500;
            font-family: "Bebas Neue";
        }
    }

    .info {
        &__title {
            font-size: 2rem;
            font-weight: 400;
        }

        &__text {
            font-weight: 300;
            color: var(--grey);
        }
    }
}

.contact {
    .heading {
        &__title {
            font-size: 4rem;
            font-weight: 500;
            font-family: "Bebas Neue";
        }

        &__text {
            color: var(--grey);
        }

        &__link {
            color: var(--white);
            border-bottom: 1px solid var(--yellow);
            text-decoration: none;
            cursor: pointer;
        }
    }

    .form {
        &__label {
            color: var(--grey);
            cursor: pointer;
        }

        &__input,
        &__textarea {
            outline: none;
            border: none;
            resize: none;
            background: #1A1A1A;
            border-radius: 5px;
            transition: 0.5s;

            &:focus {
                box-shadow: 0 0 10px var(--white);
            }
        }
    }
}
