#ONE {
    background-image: url(../img/backgrounds/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(47, 24, 147, 100%);
    color: #FFFFFF;

    .navbar {
        &__link {
            font-size: 24px;
            cursor: pointer;
        }
    }

    .info {
        &__text:nth-child(1) {
            font-size: 72px;
            font-weight: bold;
        }

        &__text:nth-child(2) {
            font-size: 24px;
        }
    }

    .btn {
        background-color: #482BE7;
        font-size: 24px;
        border-radius: 40px;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

#TWO {
    background-image: url(../img/backgrounds/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(47, 24, 147, 100%);
    color: #FFFFFF;

    .info {
        &__text:nth-child(1) {
            font-size: 20px;
        }

        &__text:nth-child(2) {
            font-size: 58px;
            font-weight: bold;
        }

        &__text:nth-child(3) {
            color: #AAAAAA;
            font-size: 24px;
        }
    }
}

#THREE {
    background-image: url(../img/backgrounds/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(47, 24, 147, 100%);
    color: #FFFFFF;

    .title {
        &__text:nth-child(1) {
            font-size: 42px;
            font-weight: bold;
        }

        &__text:nth-child(2) {
            font-size: 22px;
        }
    }
}

#FOUR {
    background-image: url(../img/backgrounds/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(47, 24, 147, 100%);
    color: #FFFFFF;

    .title {
        &__text:nth-child(1) {
            font-size: 50px;
            font-weight: bold;
        }

        &__text:nth-child(2) {
            font-size: 20px;
            line-height: 35px;
        }
    }

    .form {
        background-color: #FFFFFF;
        border-radius: 10px;

        .choice {
            &__text {
                cursor: pointer;
                color: #000000;
            }

            &__text:nth-child(1) {
                border-bottom: 3px solid #000000;
            }

            &__text:nth-child(2) {
                border-bottom: 3px solid #EBEAED;
            }
        }

        .input {
            border-radius: 30px;
            border: 2px solid #EBEAED;
            outline: none;
        }

        .btn {
            background-color: #25DAC5;
            font-size: 20px;
            border-radius: 40px;
            border: none;
            outline: none;
            cursor: pointer;
        }

        .btn:nth-child(5) {
            background-color: #1DA1F2;
        }
    }
}

#FIVE {
    background-color: #21005D;
    color: #FFFFFF;

    .header {
        font-size: 46px;
    }
    
    .card {
        border: 2px solid rgba(255, 255, 255, 0.15);
        border-radius: 15px;

        &__text:nth-child(1) {
            font-size: 18px;
            line-height: 25px;
        }

        &__text:nth-child(2) {
            color: #AAAAAA;
        }
    }
}

#SIX {
    background-image: url(../img/backgrounds/bg4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(47, 24, 147, 100%);
    color: #FFFFFF;

    .header {
        &__text:nth-child(1) {
            font-size: 70px;
            font-weight: bold;
        }

        &__text:nth-child(2) {
            font-size: 27px;
        }
    }

    .btn:nth-child(1) {
        background-color: #EA3223;
        border-radius: 40px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .btn:nth-child(2) {
        background-color: #25DAC5;
        font-size: 20px;
        border-radius: 40px;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

#SEVEN {
    background-color: #21005D;
    color: #FFFFFF;

    .header {
        &__text {
            font-size: 40px;
        }

        .btn {
            font-size: 20px;
            border-radius: 40px;
            border: 2px solid #FFFFFF;
            outline: none;
            cursor: pointer;
        }
    }

    .card {
        &__text:nth-child(2) {
            font-size: 14px;
            letter-spacing: 2px;
        }

        &__text:nth-child(3) {
            font-size: 20px;
        }
    }
}

#EIGHT {
    background-color: #21005D;
    color: #FFFFFF;

    .header {
        &__text:nth-child(1) {
            font-size: 40px;
        }

        &__text:nth-child(2) {
            font-size: 24px;
            font-weight: lighter;
        }
    }

    .card {
        &__text:nth-child(2) {
            font-size: 20px;
        }

        &__text:nth-child(3) {
            font-weight: lighter;
        }

        &__icon {
            cursor: pointer;
        }
    }
}

#NINE {
    background-image: url(../img/backgrounds/bg5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(47, 24, 147, 100%);
    color: #FFFFFF;

    .header {
        &__text:nth-child(1) {
            font-size: 40px;
        }

        &__text:nth-child(2) {
            font-size: 23px;
        }
    }

    .contacts {
        font-weight: lighter;
    }

    .form {
        background-color: #FFFFFF;
        border-radius: 10px;
        color: #000000;

        &__wrap label {
            color: #1E0E62;
            font-weight: bold;
            letter-spacing: 1px;
        }

        &__wrap .msg {
            border-radius: 10px !important;
            height: 200px;
        }

        .input {
            background: transparent;
            border: 1px solid #BDBDBD;
            border-radius: 20px;
            outline: none;
            resize: none;
            font-size: 16px;
            padding: 10px 15px;
        }

        .btn {
            font-size: 20px;
            color: #FFFFFF;
            background-color: #25DAC5;
            border-radius: 40px;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 5px 25px;
        }
    }
}

#TEN {
    background-image: url(../img/backgrounds/bg6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(47, 24, 147, 100%);
    color: #FFFFFF;

    .header {
        &__text:nth-child(1) {
            font-size: 40px;
        }

        &__text:nth-child(2) {
            font-size: 20px;
        }
    }

    .card {
        border: 2px solid #ffffff40;
        border-radius: 10px;

        &__text:nth-child(1) {
            font-size: 20px;
        }

        &__text:nth-child(2) {
            font-size: 50px;
        }

        &__text > span {
            font-size: 16px;
        }

        &__list {
            list-style-type: none;
            list-style-image: url(../img/icons/icon6.png);
        }

        &__disabled {
            color: #ffffff40;
            list-style-image: none;
        }

        .btn {
            font-size: 20px;
            background-color: transparent;
            border: 2px solid #ffffff40;
            border-radius: 40px;
            outline: none;
            cursor: pointer;
            transition-duration: 0.25s;

            &:hover {
                background-color: #E93A7D;
                border: 2px solid transparent;
            }
        }
    }
}
