html {
    position: relative;
}

body {
    width: 1440px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 43px 130px 43px 120px;
    width: inherit;
    position: absolute;
    top: 0;

    .nav {
        display: flex;
        gap: 70px;
    }
}

.one {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 122px;
    padding-right: 90px;
    height: 750px;

    .buyBlock {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 23px;
        padding: 37px 96px 41px 39px;
    }
}

.benefits {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 110px;
    padding: 46px 100px 49px 107px;
}
